# 1. Force HTTPS for Security and Share Button
RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# 2. Set Custom 404 Error Page
ErrorDocument 404 /404.php

# 3. Prevent People from Browsing Your Folders
Options -Indexes